html {
	font-family: Roboto;
}

a {
	text-decoration: none;
}

.logo + a {
	color: black;
}

.head {
	background: rgba(196, 196, 196, 1);
	margin: 25px 41px 0 61px;
	padding: 7px 0 8px 15px;
}

.head > a {
	font-weight: 700;
	font-size: 24px;
}

.logo {
	font-style: italic;
	font-weight: 900;
	font-size: 24px;
	color: rgba(216, 3, 79, 1);
}

.head > a {
	margin-right: 47px;
}

.head + p {
	font-size: 36px;
	font-weight: 900;
	margin: 6px 0 22px 61px;
}

.main {
	display: flex;
}

.events {
	background: rgba(196, 196, 196, 1);
	width: 177px;
	height: 212px;
	margin: 0 36px 22px 62px;
}

.events > p {
	font-weight: 900;
	font-size: 24px;
	margin: 54px 25px 54px 35px;
}

.information {
	background: #DD005D;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	height: 76px;
}

.information > p {
	font-weight: 900;
	color: white;
	font-size: 36px;
}
.information > div > p {
	font-weight: 900;
	color: white;
	font-size: 36px;
}

.information > div > .location {
	color: white;
	font-size: 18px;
	font-weight: 700;
}

.information > div > .date {
	color: black;
	font-size: 18px;
}

.addmore {
	background: rgba(196, 196, 196, 1);
	width: 177px;
	height: 212px;
	font-weight: 900;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.addmore > a {
	color: black;
}

.information > div {
	margin-top: 22px;
	display: flex;
	justify-content: space-between;
}